parameters:
	stubFiles:
		- stubs/Money/Currencies.stub
		- stubs/Money/Currency.stub
		- stubs/Money/Money.stub
		- stubs/Money/MoneyFormatter.stub
		- stubs/Money/MoneyParser.stub
rules:
    - Ibexa\PHPStan\Rules\NoConfigResolverParametersInConstructorRule
    - Ibexa\PHPStan\Rules\RequireInterfaceInDependenciesRule
    - Ibexa\PHPStan\Rules\NamingConventionRule
    - Ibexa\PHPStan\Rules\FinalClassRule
