<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
        cacheDirectory=".phpunit.cache"
        bootstrap="vendor/autoload.php"
        failOnWarning="true"
        colors="true">
    <testsuites>
        <testsuite name="rules">
            <directory>tests/rules</directory>
        </testsuite>
    </testsuites>
</phpunit>
